.inicio-fondo{
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fbf9f5;
}

.cont-inicio{
    width: 95%;
}

.arriba{
    background-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;  
    padding: 10px;
    border: 1px solid black;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.abajo{
    background-color: rgb(80, 79, 79);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;   
    padding: 10px;
}

h2{ 
    font-size: 60px;
    text-align: center;
}


p{
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.cont-img img{
    float: right;

    width: 230px;
    height: 230px;
    border-radius: 110px;
}
/*****************************/
/*     21. Media Queries     */
/*****************************/	
/* max-width 600px */
@media (max-width: 600px) {
    p{
        font-size:18px;
        text-align:left;
    }
    .cont-img img{
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 110px;
}
}